/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  font-face  */

@font-face {
    font-family: 'avenir-lt-std-light';
    src: url('../fonts/avenir/avenir-lt-std-light/avenir-lt-std-light.eot');
    src: url('../fonts/avenir/avenir-lt-std-light/avenir-lt-std-light.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/avenir-lt-std-light/avenir-lt-std-light.woff2') format('woff2'), url('../fonts/avenir/avenir-lt-std-light/avenir-lt-std-light.woff') format('woff'), url('../fonts/avenir/avenir-lt-std-light/avenir-lt-std-light.ttf') format('truetype'), url('../fonts/avenir/avenir-lt-std-light/avenir-lt-std-light.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'avenir-lt-std-book';
    src: url('../fonts/avenir/avenir-lt-std-book/avenir-lt-std-book.eot');
    src: url('../fonts/avenir/avenir-lt-std-book/avenir-lt-std-book.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/avenir-lt-std-book/avenir-lt-std-book.woff2') format('woff2'), url('../fonts/avenir/avenir-lt-std-book/avenir-lt-std-book.woff') format('woff'), url('../fonts/avenir/avenir-lt-std-book/avenir-lt-std-book.ttf') format('truetype'), url('../fonts/avenir/avenir-lt-std-book/avenir-lt-std-book.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'avenir-lt-std-medium';
    src: url('../fonts/avenir/avenir-lt-std-medium/avenir-lt-std-medium.eot');
    src: url('../fonts/avenir/avenir-lt-std-medium/avenir-lt-std-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/avenir-lt-std-medium/avenir-lt-std-medium.woff2') format('woff2'), url('../fonts/avenir/avenir-lt-std-medium/avenir-lt-std-medium.woff') format('woff'), url('../fonts/avenir/avenir-lt-std-medium/avenir-lt-std-book.ttf') format('truetype'), url('../fonts/avenir/avenir-lt-std-medium/avenir-lt-std-medium.svg#svgFontName') format('svg');
}

@font-face {
    font-family: 'avenir-lt-std-heavy';
    src: url('../fonts/avenir/avenir-lt-std-heavy/avenir-lt-std-heavy.eot');
    src: url('../fonts/avenir/avenir-lt-std-heavy/avenir-lt-std-heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/avenir/avenir-lt-std-heavy/avenir-lt-std-heavy.woff2') format('woff2'), url('../fonts/avenir/avenir-lt-std-heavy/avenir-lt-std-heavy.woff') format('woff'), url('../fonts/avenir/avenir-lt-std-heavy/avenir-lt-std-heavy.ttf') format('truetype'), url('../fonts/avenir/avenir-lt-std-heavy/avenir-lt-std-heavy.svg#svgFontName') format('svg');
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

*:focus {
    outline: 0 !important;
    box-shadow: none !important;
}

.mt0 {
    margin-top: 0 !important;
}

.mt15 {
    margin-top: 15px !important;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'avenir-lt-std-book';
    color: #212121;
    margin: 0;
    padding: 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  welcome  */

.welcome-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #14ac63;
    background: -moz-linear-gradient(-45deg, #14ac63 0%, #6289cc 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #14ac63), color-stop(100%, #6289cc));
    background: -webkit-linear-gradient(-45deg, #14ac63 0%, #6289cc 100%);
    background: -o-linear-gradient(-45deg, #14ac63 0%, #6289cc 100%);
    background: -ms-linear-gradient(-45deg, #14ac63 0%, #6289cc 100%);
    background: linear-gradient(135deg, #14ac63 0%, #6289cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14ac63', endColorstr='#6289cc', GradientType=1);
}

.welcome-body:before {
    content: '';
    position: absolute;
    top: -300px;
    left: -300px;
    width: 574px;
    height: 574px;
    background: url(../images/bg-ripple-circle-green.png) no-repeat 0 0;
}

.welcome-body:after {
    content: '';
    position: absolute;
    right: -300px;
    bottom: -300px;
    width: 574px;
    height: 574px;
    background: url(../images/bg-ripple-circle-blue.png) no-repeat 0 0;
}

.welcome-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 500px;
    max-width: 90%;
    height: 550px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px #555;
    text-align: center;
    z-index: 2;
    background: #fff;
}

.student-register .welcome-box,
.admin-login .welcome-box {
    width: 800px;
    height: 600px;
}

.welcome-header {
    padding: 10px;
    box-shadow: 0px 5px 5px -2px #ccc;
}

.student-register .welcome-header,
.admin-login .welcome-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.welcome-header .logo {
    display: inline-block;
    width: 80px;
}

.student-register .welcome-header .logo,
.admin-login .welcome-header .logo {
    margin-right: 30px;
}

.welcome-header .logo img {
    max-width: 100%;
}

.welcome-box-title {
    display: none;
    font-size: 28px;
    line-height: 38px;
    font-family: 'avenir-lt-std-medium';
    color: #079552;
}

.student-register .welcome-box-title,
.admin-login .welcome-box-title {
    display: block;
}

.welcome-content {
    padding: 0 50px;
}

.welcome-content h1 {
    font-size: 32px;
    line-height: 40px;
    font-family: 'avenir-lt-std-medium';
    color: #079552;
    margin-top: 50px;
}

.welcome-content h1 span {
    display: block;
    font-size: 20px;
    color: #212121;
}

.welcome-content p {
    max-width: 250px;
    font-size: 14px;
    margin: 30px auto 0;
}

.welcome-content .btn,
.welcome-content .register-link,
.student-registration-form .btn,
.modal-verify .btn,
.admin-register form .btn,
.application-form table tbody tr td .btn,
#profile_data .profile-right .btn,
.registration-form #msform fieldset .btn,
.btn.btn-gradiant,
.form-schedule .btn,
.single-student .student-action form .btn,
.reset-box .btn,
.admitCard-form .btn.approve,
.final_confirmation .btn,
.final_success_msg .btn,
.view-application .btn {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    padding: 5px 25px;
    border: 0;
    border-radius: 2px;
    transition: all 0.3s linear 0s;
    background: #14ac62;
    background: -moz-linear-gradient(left, #14ac62 0%, #6289cc 100%);
    background: -webkit-linear-gradient(left, #14ac62 0%, #6289cc 100%);
    background: linear-gradient(to right, #14ac62 0%, #6289cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14ac62', endColorstr='#6289cc', GradientType=1);
}

.welcome-content .btn:hover,
.welcome-box .register-link:hover,
.student-registration-form .btn:hover,
.modal-verify .btn:hover,
.admin-register form .btn:hover,
.application-form table tbody tr td .btn:hover,
#profile_data .profile-right .btn:hover,
.registration-form #msform fieldset .btn:hover,
.btn.btn-gradiant:hover,
.form-schedule .btn:hover,
.single-student .student-action form .btn:hover,
.reset-box .btn:hover,
.admitCard-form .btn.approve:hover,
.final_confirmation .btn:hover,
.final_success_msg .btn:hover,
.view-application .btn:hover {
    color: #fff;
    background: #14ac62;
    background: -moz-linear-gradient(left, #14ac62 0%, #14ac62 100%);
    background: -webkit-linear-gradient(left, #14ac62 0%, #14ac62 100%);
    background: linear-gradient(to right, #14ac62 0%, #14ac62 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6289cc', endColorstr='#14ac62', GradientType=1);
    box-shadow: 0px 0px 5px #555;
}

.made-by {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    font-size: 11px;
    font-family: 'avenir-lt-std-medium';
    color: #666;
    margin: auto;
}

.made-by img {
    max-width: 70px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  login-register-box  */

.login-register-box,
.admin-login-box {
    width: 600px;
    max-width: 100%;
    margin: 50px auto 0;
}

.login-register-box .nav {
    border: 0;
}

.login-register-box .nav .nav-item {
    width: 50%;
    font-size: 14px;
}

.login-register-box .nav .nav-item:first-child {
    margin-left: 0;
}

.login-register-box .nav .nav-item .nav-link {
    font-family: 'avenir-lt-std-medium';
    color: #14ac62;
    padding: 10px 10px;
    border-radius: 2px;
    transition: all 0.3s linear 0s;
}

.login-register-box .nav .nav-item .nav-link:hover,
.login-register-box .nav .nav-item .nav-link.active {
    color: #fff;
    background: #14ac62;
}

.login-register-box .tab-content {
    overflow: auto;
    padding: 30px 25px;
    border-top: 1px solid #14ac62;
    text-align: left;
    background: #f9f9f9;
}

.login-register-box .tab-content .form-login,
.admin-login-box form {
    width: 350px;
    max-width: 100%;
    margin: 1% auto;
}

.login-register-box .tab-content .form-group,
.reset-box form .form-group,
.admin-login-box form .form-group {
    position: relative;
}

.login-register-box .tab-content .form-register .form-group {
    float: left;
    width: 47%;
    margin: 10px 1.5%;
}

.login-register-box .tab-content .form-group:before,
.reset-box form .form-group:before,
.admin-login-box form .form-group:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    width: 40px;
    height: 38px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background: #eee;
}

.login-register-box .tab-content .form-group.field-otp:before,
.login-register-box .tab-content .form-group.field-checkbox:before {
    display: none;
}

.login-register-box .tab-content .form-group.field-name:before {
    background: #eee url(../images/icons/icon-profile-black.svg) no-repeat center center/16px;
}

.login-register-box .tab-content .form-group.field-email:before,
.reset-box form .form-group.field-email:before,
.admin-login-box form .form-group.field-email:before {
    background: #eee url(../images/icons/icon-email-black.svg) no-repeat center center/16px;
}

.login-register-box .tab-content .form-group.field-phone:before {
    background: #eee url(../images/icons/icon-phone-black.svg) no-repeat center center/16px;
}

.login-register-box .tab-content .form-group.field-password:before,
.reset-box form .form-group.field-password:before,
.admin-login-box form .form-group.field-password:before {
    background: #eee url(../images/icons/icon-password-black.svg) no-repeat center center/16px;
}

.login-register-box .tab-content .form-group.field-state:before {
    background: #eee url(../images/icons/icon-location-black.svg) no-repeat center center/16px;
}

.login-register-box .tab-content .form-group.field-course:before {
    background: #eee url(../images/icons/icon-course-black.svg) no-repeat center center/16px;
}

.login-register-box .tab-content .form-group .form-control,
.reset-box form .form-group .form-control,
.admin-login-box form .form-control {
    height: 40px;
    font-size: 13px;
    color: #333;
    padding: 0 10px 0 50px;
    transition: all 0.3s linear 0s;
}

.login-register-box .tab-content .form-group.field-otp .form-control {
    padding: 0 10px;
}

.login-register-box .tab-content .form-group .form-control:focus,
.reset-box form .form-group .form-control:focus,
.admin-login-box form .form-control:focus {
    border-color: #777;
}

.login-register-box .tab-content .form-group .form-control.error {
    border-color: #f00;
}

.login-register-form.form-register .field-phone #btn_otp {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    font-size: 10px;
    font-family: 'avenir-lt-std-medium';
    color: #fff;
    padding: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background: #4184f5;
}

.login-register-box .tab-content .form-register .btn {
    margin: 10px 0 0 1.5%;
}

.login-register-box .tab-content .form-group.field-checkbox {
    overflow: hidden;
}

.login-register-box .tab-content .form-group.field-checkbox .form-check {
    float: left;
    font-size: 13px;
    margin: 0 0 0 20px;
    padding: 0;
}

.login-register-box .tab-content .form-group.field-checkbox .forgot-link {
    float: right;
    font-size: 13px;
    color: #2B5192;
}

.login-register-box .tab-content .form-register .form-group .invalid-feedback {
    display: block;
    position: absolute;
    font-size: 10px;
    bottom: -14px;
}

.form-schedule .invalid-feedback {
    display: block;
}

.admin-login-box .alert-danger {
    width: 350px;
    max-width: 100%;
    font-size: 14px;
    margin: 0 auto 15px;
    padding: 5px 15px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~  reset  password  */

.reset-box {
    width: 400px;
    max-width: 100%;
    margin: 100px auto 0;
}

.reset-password {
    margin-top: 70px;
}

.reset-box .title {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 15px;
}

.reset-box p {
    max-width: 100%;
    margin-bottom: 5px;
}

.text-link {
    display: inline-block;
    font-size: 13px;
    font-family: 'avenir-lt-std-medium';
    color: #2B5192;
    margin-top: 5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  dashboard  */

.dashboard-body {
    background: #14ac62;
}

.dashboard {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.dashboard:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-bottom: 100vh solid #0a7842;
    border-left: 100vw solid transparent;
}

.dashboard-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    background: #e4f3ec;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  dashboard-left  */

.dashboard-left {
    position: fixed;
    width: 240px;
    height: 100%;
    overflow: hidden;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: all 0.3s linear 0s;
}

.dashboard-left .sidebar {
    height: 100%;
    padding: 30px 0;
    background: #fff;
}

.icon-close {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 25px;
    cursor: pointer;
}

.icon-close i {
    float: left;
    width: 20px;
    height: 2px;
    position: absolute;
    transition: all 0.3s linear 0s;
    background: #212121;
}

.icon-close i:first-child {
    top: 10px;
    transform: rotate(45deg);
}

.icon-close i:nth-child(2) {
    top: 10px;
    transform: rotate(-45deg);
}

.dashboard-left .sidebar .logo {
    display: block;
    margin: 0 auto 30px;
    text-align: center;
}

.dashboard-left .sidebar .logo img {
    width: 110px;
}

.dashboard-left .sidenav {
    height: calc(100% - 102px);
    overflow: auto;
    background: #14ac62;
    background: -moz-linear-gradient(-45deg, #14ac62 1%, #6289cc 100%);
    background: -webkit-linear-gradient(-45deg, #14ac62 1%, #6289cc 100%);
    background: linear-gradient(135deg, #14ac62 1%, #6289cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14ac62', endColorstr='#6289cc', GradientType=1);
}

.dashboard-left .sidenav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dashboard-left .sidenav ul li:last-child {
    display: none;
}

.dashboard-left .sidenav ul li a {
    display: block;
    font-size: 14px;
    line-height: 60px;
    color: #fff;
    padding: 0 10px;
    position: relative;
    border-bottom: 1px solid #62bb90;
    transition: all 0.3s linear 0s;
}

.dashboard-left .sidenav ul li a:before {
    content: '';
    float: left;
    width: 30px;
    height: 30px;
    margin: 17px 10px 0 0;
}

.dashboard-left .sidenav ul li a:hover,
.dashboard-left .sidenav ul li.active a {
    color: #fff;
    text-decoration: none;
    background: #2B5191;
}

.dashboard-left .sidenav ul li a.link-dashboard:before {
    background: url(../images/icons/icon-dashboard.svg) no-repeat center center/20px;
}

.dashboard-left .sidenav ul li a.link-dashboard:hover:before,
.dashboard-left .sidenav ul li.active a.link-dashboard:before {
    background: url(../images/icons/icon-dashboard.svg) no-repeat center center/20px;
}

.dashboard-left .sidenav ul li a.link-profile:before {
    background: url(../images/icons/icon-profile.svg) no-repeat center center/20px;
}

.dashboard-left .sidenav ul li a.link-profile:hover:before,
.dashboard-left .sidenav ul li.active a.link-profile:before {
    background: url(../images/icons/icon-profile.svg) no-repeat center center/20px;
}

.dashboard-left .sidenav ul li a.link-apply:before {
    background: url(../images/icons/icon-apply.svg) no-repeat center center/24px;
}

.dashboard-left .sidenav ul li a.link-apply:hover:before,
.dashboard-left .sidenav ul li.active a.link-apply:before {
    background: url(../images/icons/icon-apply.svg) no-repeat center center/24px;
}

.dashboard-left .sidenav ul li a.link-admitcard:before {
    background: url(../images/icons/icon-admitcard.svg) no-repeat center center/24px;
}

.dashboard-left .sidenav ul li a.link-admitcard:hover:before,
.dashboard-left .sidenav ul li.active a.link-admitcard:before {
    background: url(../images/icons/icon-admitcard.svg) no-repeat center center/24px;
}

.dashboard-left .sidenav ul li a.link-exam:before {
    background: url(../images/icons/icon-exam.svg) no-repeat center center/20px;
}

.dashboard-left .sidenav ul li a.link-exam:hover:before,
.dashboard-left .sidenav ul li.active a.link-exam:before {
    background: url(../images/icons/icon-exam.svg) no-repeat center center/20px;
}

.dashboard-left .sidenav ul li a.link-results:before {
    background: url(../images/icons/icon-result.svg) no-repeat center center/24px;
}

.dashboard-left .sidenav ul li a.link-results:hover:before,
.dashboard-left .sidenav ul li.active a.link-results:before {
    background: url(../images/icons/icon-result.svg) no-repeat center center/24px;
}

.dashboard-left .sidenav ul li a.link-logout:before {
    background: url(../images/icons/sprite-icons.png) no-repeat -30px -720px;
}

.dashboard-left .sidenav ul li a.link-logout:hover:before,
.dashboard-left .sidenav ul li.active a.link-logout:before {
    background: url(../images/icons/sprite-icons.png) no-repeat -30px -720px;
}

.dashboard-left .sidenav ul li a.link-approved:before {
    background: url(../images/icons/icon-approve.svg) no-repeat center center/22px;
}

.dashboard-left .sidenav ul li a.link-approved:hover:before,
.dashboard-left .sidenav ul li.active a.link-approved:before {
    background: url(../images/icons/icon-approve.svg) no-repeat center center/22px;
}

.dashboard-left .sidenav ul li a.link-rejected:before {
    background: url(../images/icons/icon-reject.svg) no-repeat center center/22px;
}

.dashboard-left .sidenav ul li a.link-rejected:hover:before,
.dashboard-left .sidenav ul li.active a.link-rejected:before {
    background: url(../images/icons/icon-reject.svg) no-repeat center center/22px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  dashboard-right  */

.dashboard-right {
    float: right;
    position: relative;
    width: calc(100% - 240px);
    height: 100%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    transition: all 0.3s linear 0s;
    background: #e4f3ec;
}

.dashboard-right.full {
    width: 100%;
}

.dashboard-right .navbar {
    border-bottom: 1px solid #084829;
    box-shadow: none;
    background: transparent;
}

.dashboard-right.full .navbar .container {
    max-width: 100%;
}

.dashboard-right .navbar-nav {
    padding: 7px 0;
}

.dashboard-right .navbar-nav li {
    margin-left: 10px;
}

.dashboard-right .navbar-nav li .nav-link {
    font-size: 14px;
    line-height: 30px;
    font-family: 'avenir-lt-std-medium';
    color: #084829;
    padding: 0;
}

.dashboard-right #navbarDropdown .profile-img {
    display: flex;
    float: left;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-right: 10px;
    border: 1.5px solid #aaa;
    border-radius: 100%;
    background: #fff;
}

.dashboard-right #navbarDropdown .profile-img img {
    max-width: 70%;
}

.dashboard-right .navbar-nav li .dropdown-menu {
    box-shadow: 0px 0px 5px #999;
}

.dashboard-right .navbar-nav li .dropdown-menu a {
    display: block;
    font-size: 14px;
    line-height: 24px;
    color: #204634;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
    transition: all 0.3s linear 0s;
}

.dashboard-right .navbar-nav li .dropdown-menu a:last-child,
.dashboard-right .navbar-nav li .dropdown-menu a.link-logout {
    border: 0;
}

.dashboard-right .navbar-nav li .dropdown-menu a:hover {
    color: #fff;
    text-decoration: none;
    background: #115b37;
}

.dashboard-right .navbar-nav li:nth-child(2) a {
    width: 24px;
    height: 24px;
    margin-top: 3px;
    opacity: 0.8;
    transition: all 0.3s linear 0s;
    background: url(../images/icons/sprite-icons.png) no-repeat 0 -720px;
}

.dashboard-right .navbar-nav li:nth-child(2) a:hover {
    opacity: 1;
}

.dashboard-right .navbar .icon-menu {
    display: none;
    float: left;
    width: 30px;
    height: 25px;
    cursor: pointer;
    opacity: 1 !important;
    position: relative;
    margin: 9px 0 5px;
}

.dashboard-right .navbar .icon-menu.close {
    opacity: 1;
}

.dashboard-right .navbar .icon-menu i {
    float: left;
    width: 30px;
    height: 3px;
    position: absolute;
    transition: all 0.3s linear 0s;
    background: #212121;
}

.dashboard-right .navbar .icon-menu.close i:first-child {
    top: 10px;
    transform: rotate(45deg);
}

.dashboard-right .navbar .icon-menu.close i:nth-child(2) {
    opacity: 0;
}

.dashboard-right .navbar .icon-menu.close i:nth-child(3) {
    top: 10px;
    transform: rotate(-45deg);
}

.dashboard-right .navbar .icon-menu i:first-child {
    top: 0;
    transform: rotate(0deg);
}

.dashboard-right .navbar .icon-menu i:nth-child(2) {
    opacity: 1;
    top: 7px;
}

.dashboard-right .navbar .icon-menu i:nth-child(3) {
    top: 14px;
    transform: rotate(0deg);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  content  */

.content {
    width: 100%;
    height: calc(100% - 90px);
    margin-top: 15px;
    padding: 50px;
    position: relative;
    overflow: auto;
}

.content-title {
    font-size: 24px;
    line-height: 30px;
    font-family: 'avenir-lt-std-medium';
    margin-bottom: 30px;
}

.icon-previous {
    position: absolute;
    top: 0;
    left: 50px;
    width: 24px;
    height: 24px;
    opacity: 0.8;
    transition: all 0.3s linear 0s;
    background: url(../images/icons/sprite-icons.png) no-repeat 0 -810px;
}

.icon-previous:hover {
    opacity: 1;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~  dashboard welcome  */

.dashboard-welcome {
    background: #fff;
}

.dashboard-welcome-title {
    font-size: 24px;
    color: #fff;
    margin: 0;
    padding: 15px;
    background: #2B5191;
}

.dashboard-welcome p {
    font-size: 14px;
    margin: 0;
    padding: 15px;
}

.admin-login-title {
    max-width: 350px;
    font-size: 14px;
    font-family: 'avenir-lt-std-medium';
    color: #fff;
    margin: 0 auto 30px;
    padding: 10px;
    border-bottom: 1px solid #14ac62;
    background: #14ac62;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  profile  */

.profile-left {
    display: flex;
    float: left;
    width: 350px;
    height: 350px;
    justify-content: center;
    align-items: center;
    background: #fff;
}

.profile-left .sample-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-left img {
    max-width: 80%;
}

.profile-left .sample-img img {
    opacity: 0.1;
}

.profile-right {
    float: right;
    width: calc(100% - 400px);
    padding: 50px;
    background: #fff;
}

#profile_data .profile-right .form-group {
    margin-bottom: 40px;
    padding-top: 16px;
    position: relative;
}

#profile_data .profile-right label {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    color: #a8b4ae;
    margin: 0;
    border-bottom: 1px solid #ced4da;
}

#profile_data .profile-right label:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s linear 0s;
    background: #01974A;
}

#profile_data .profile-right .form-control {
    height: 44px;
    font-size: 14px;
    padding: 5px 0;
    position: relative;
    border: 0;
    border-radius: 0;
    background: none;
}

#profile_data .profile-right .form-control:focus~label:after {
    width: 100%;
}

.chat-log {
    overflow: auto;
    height: 200px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~  application form  */

.application-form table {
    border: 1px solid #ccc;
}

.application-form table thead {
    background: #14ac62;
    background: -moz-linear-gradient(-45deg, #14ac62 1%, #6289cc 100%);
    background: -webkit-linear-gradient(-45deg, #14ac62 1%, #6289cc 100%);
    background: linear-gradient(135deg, #14ac62 1%, #6289cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14ac62', endColorstr='#6289cc', GradientType=1);
}

.application-form table thead tr th {
    font-size: 14px;
    font-weight: normal;
    color: #fff;
    border: 0;
    border-left: 1px solid #ccc;
}

.users-list .application-form table thead tr th:first-child,
.application-form table.registered-list thead tr th:first-child {
    min-width: 90px;
}

.application-form table thead tr th:first-child,
.application-form table tbody tr td:first-child {
    border-left: 0;
}

.application-form table thead tr th:first-child,
.application-form table thead tr th:nth-child(2),
.application-form table thead tr th:nth-child(4) {
    min-width: 140px;
}

.application-form table.registered-list thead tr th:nth-child(3) {
    min-width: 120px;
}

.application-form table thead tr th:nth-child(3) {
    min-width: 190px;
}

.application-form table.registered-list thead tr th:nth-last-child(2) {
    min-width: 130px;
}

.application-form table.registered-list thead tr th:last-child {
    min-width: 210px;
}

.users-list .application-form table thead tr th:last-child {
    min-width: 180px;
}

.application-form table tbody tr td {
    font-size: 14px;
    border: 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}

.application-form table.approved-list tbody tr td:last-child span,
.application-form table.rejected-list tbody tr td:last-child span {
    display: block;
    margin-bottom: 5px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  registration-form  */

.registration-form #msform {
    position: relative;
}

.registration-form #progressbar {
    counter-reset: step;
    list-style-type: none;
    overflow: hidden;
    margin: 0 0 50px;
    padding: 0;
    position: relative;
    text-align: center;
}

.registration-form #progressbar:before {
    content: '';
    position: absolute;
    top: 35px;
    left: 10%;
    width: calc(100% - 25%);
    height: 3px;
    background: #ddd;
}

.registration-form #progressbar li {
    float: left;
    width: 19%;
    font-size: 14px;
    font-family: 'avenir-lt-std-medium';
    color: #777;
    position: relative;
}

.registration-form #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    display: block;
    width: 60px;
    height: 60px;
    font-size: 18px;
    line-height: 50px;
    color: #777;
    border: 5px solid #ddd;
    border-radius: 100%;
    margin: 5px auto 10px;
    background: #fff;
}

.registration-form #progressbar li:first-child:after {
    content: none;
}

.registration-form #progressbar li.active:before,
.registration-form #progressbar li.active:after {
    color: #fff;
    border-color: #fff;
    background: #14ac62;
}

.registration-form #msform fieldset {
    width: 90%;
    margin: 0 5%;
    padding: 30px 50px;
    position: absolute;
    border: 0;
    border-radius: 3px;
    background: #fff;
}

.registration-form #msform fieldset:not(:first-of-type),
.registration-form #msform fieldset.hide {
    display: none;
}

.registration-form #msform fieldset .fs-title {
    width: 100%;
    font-size: 24px;
    font-family: 'avenir-lt-std-medium';
    color: #212121;
    margin-bottom: 30px;
}

.registration-form #msform .clearfix {
    width: 100%;
}

.registration-form #msform fieldset .form-group {
    float: left;
    width: 45%;
    margin-bottom: 30px;
}

.registration-form #msform .field-course-detials .form-group:nth-child(2n-1),
.registration-form #msform .field-academic-detials .form-group:nth-child(2n-1),
.registration-form #msform .field-person-detials>.form-group:nth-child(3),
.registration-form #msform .field-person-detials>.form-group:nth-child(5),
.registration-form #msform .field-person-detials .form-permanent .form-group:nth-child(even),
.registration-form #msform .field-person-detials .form-corresspondane .form-group:nth-child(even),
.registration-form #msform .field-person-detials .form-corresspondane+.form-group+.form-group,
.registration-form #msform .field-person-detials .form-corresspondane+.form-group+.form-group+.form-group+.form-group,
.registration-form #msform .field-academic-information .form-group+.form-group,
.registration-form #msform .field-academic-information .form-group+.form-group+.form-group+.form-group,
.registration-form #msform .field-document .form-group-full+.form-group+.form-group,
.registration-form #msform .field-document .form-group-full+.form-group+.form-group+.form-group+.form-group {
    float: right;
}

.registration-form #msform fieldset .form-group-full {
    width: 100%;
}

.registration-form #msform fieldset .form-group label {
    font-size: 13px;
}

.registration-form #msform .field-person-detials .form-group-full>label {
    float: left;
    margin-right: 15px;
}

.registration-form #msform .field-document .form-group-full>label {
    font-size: 14px;
}

.registration-form #msform .field-document .form-group-full>label span {
    font-family: 'avenir-lt-std-heavy';
}

.registration-form #msform .field-person-detials .form-group-full .form-check {
    float: left;
}

.registration-form #msform fieldset .form-group .form-control {
    height: 40px;
    font-size: 13px;
    color: #333;
    padding: 0 10px;
    transition: all 0.3s linear 0s;
}

.registration-form #msform fieldset .form-group .form-control.error {
    border-color: #f00;
}

.registration-form #msform fieldset .form-sub {
    width: 100%;
}

.registration-form #msform fieldset .form-sub .form-subtitle {
    width: 100%;
    font-size: 18px;
}

.registration-form #msform fieldset .form-permanent,
.registration-form #msform fieldset .form-corresspondane {
    float: left;
    width: 100%;
    margin: -20px 0 30px;
    padding: 30px 30px 0;
    background: #f1f1f1;
}

.registration-form #msform fieldset .form-corresspondane.hide {
    display: none;
}

.registration-form #msform fieldset .form-control-file {
    font-size: 13px;
}

.registration-form .form-control-file .error {
    border-color: #f00;
}

.registration-form #msform fieldset .form-control-file.error {
    border: 1px solid #f00;
}

.registration-form #msform fieldset .btn {
    margin-top: 15px;
}

.registration-form #msform fieldset .loader,
.loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~  form-schedule  */

.form-schedule .form-info {
    margin-bottom: 50px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
}

.form-schedule .form-control {
    width: 400px;
    max-width: 100%;
    margin-bottom: 15px;
}

.form-schedule .form-control-file {
    font-size: 13px;
}

.form-schedule .btn {
    margin-top: 30px;
}

.exam-list table tbody tr td a {
    font-family: 'avenir-lt-std-medium';
    color: #2B5191;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~  single student  */

.single-student-info {
    display: none;
    width: 100%;
}

.single-student {
    display: flex;
    width: 100%;
    list-style-type: none;
    padding: 0;
    flex-flow: wrap;
    justify-content: space-between;
}

.single-student li {
    float: left;
    width: 47%;
    margin: 15px 0;
}

.single-student li label {
    display: block;
    font-size: 14px;
    font-family: 'avenir-lt-std-medium';
}

.single-student li p {
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    margin: 0;
    padding: 0 15px;
    background: #fff;
}

.single-student .student-info-subtitle {
    width: 100%;
    font-size: 16px;
    font-family: 'avenir-lt-std-medium';
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.single-student .student-action {
    width: 100%;
}

.single-student .student-action h6 {
    font-size: 18px;
    margin: 50px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #aaa;
}

.single-student .student-action form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.single-student .student-action form .form-group {
    width: 47%;
}

.single-student .student-action form .btn {
    margin-top: 20px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  info-list  */

.info-list {
    float: left;
    width: 700px;
    max-width: 100%;
    list-style-type: none;
    padding: 0;
}

.info-list li {
    float: left;
    width: 100%;
    color: #019947;
    margin: 5px 0;
    padding: 15px;
    border-bottom: 1px solid #aaa;
    background: #fff;
}

.info-list li label {
    float: left;
    font-size: 16px;
    font-family: 'avenir-lt-std-medium';
    margin: 0;
}

.info-list li a {
    float: right;
    font-size: 14px;
    font-family: 'avenir-lt-std-medium';
    color: #2B5192;
}

.info-text {
    float: left;
    width: 100%;
    font-family: 'avenir-lt-std-medium';
}

.info-text span {
    display: block;
    font-size: 14px;
    color: #555;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~  alert messages  */

.alert.alert-success {
    font-size: 14px;
    font-weight: normal;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  others */

#mceu_30,
#mceu_31 {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.profilepress-reg-status {
    border-radius: 6px;
    font-size: 17px;
    line-height: 1.471;
    padding: 10px 19px;
    background-color: #e74c3c;
    color: #ffffff;
    font-weight: normal;
    display: block;
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
}


/*headings*/

.fs-subtitle {
    font-weight: normal;
    font-size: 13px;
    color: #666;
    margin-bottom: 20px;
}

.personal {
    height: 400px;
    overflow-x: hidden;
}

.document {
    height: 400px;
    overflow-x: hidden;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  admit Card Form  */

.admitCard-form {
    min-width: 810px;
    overflow: auto;
}

.admitCard-form .table {
    width: 800px;
    margin: 50px auto;
}

.admitCard-form .table thead tr th {
    padding: 0;
    border: 1px solid #212121;
    text-align: center;
    background: #f1f1f1;
}

.admitCard-form .table thead tr th img {
    float: left;
    width: 100px;
    margin: 15px 0 15px 100px;
}

.admitCard-form .table thead tr th span {
    float: left;
    font-size: 28px;
    line-height: 34px;
    font-family: 'avenir-lt-std-book';
    color: #009A47;
    margin: 45px 0 0 30px;
}

.admitCard-form .title-header {
    text-align: center;
}

.admitCard-form .table tbody tr td {
    padding: 0;
    border: 1px solid #212121;
    background: #fff;
}

.admitCard-form .table tbody tr td+td {
    vertical-align: middle;
}

.admitCard-form .title-header td {
    border-top: 1px solid #212121;
}

.admitCard-form .title-header span {
    float: left;
    width: 100%;
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    font-family: 'avenir-lt-std-book';
    color: #212121;
    margin: 0;
    padding: 15px;
    text-align: center;
}

.admitCard-form .student-info td:first-child {
    border-right: 0;
}

.admitCard-form .student-info td:last-child {
    border-left: 0;
}

.admitCard-form .student-info ul {
    float: left;
    width: calc(100% - 20px);
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-right: 1px solid #212121;
}

.admitCard-form .student-info ul li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 10px 20px 10px 10px;
    border-top: 1px solid #212121;
}

.admitCard-form .student-info ul li.no-border {
    border: 0;
}

.admitCard-form .student-info ul li label {
    float: left;
    width: 120px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-right: 10px;
}

.admitCard-form .student-info ul li span {
    float: left;
    width: calc(100% - 130px);
    font-size: 14px;
    line-height: 20px;
}

.admitCard-form .student-info ul li span.studentID {
    padding: 5px 10px;
}

.admitCard-form .student-info ul li span input {
    width: 100%;
    height: 30px;
    padding: 5px 10px;
    background: #f1f1f1;
}

.admitCard-form .student-info ul li span input[type=text]:disabled,
.admitCard-form .student-info ul li span textarea {
    font-size: 16px;
    line-height: 20px;
    font-family: 'avenir-lt-std-medium';
    color: #212121;
    border: 0;
    background: none;
}

.admitCard-form .student-info ul li input[name=centre_code] {
    font-size: 16px;
    line-height: 20px;
    font-family: 'avenir-lt-std-medium';
    color: #212121;
    border: 0;
}

.admitCard-form .student-info ul li span textarea {
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    background: #f1f1f1;
}

.admitCard-form .student-info td+td {
    width: 200px;
}

.admitCard-form .student-info td+td span {
    padding: 15px;
}

.admitCard-form .student-info td+td span img {
    width: 150px;
}

.admitCard-form .exam-info ul {
    float: left;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.admitCard-form .exam-info ul li {
    float: left;
    width: 198px;
    margin: 0;
    padding: 10px;
    border-right: 1px solid #212121;
}

.admitCard-form .exam-info ul li.no-border {
    border: 0;
}

.admitCard-form .exam-info ul li label {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}

.admitCard-form .exam-info ul li span {
    float: left;
    width: 100%;
    padding: 0 0 5px;
}

.admitCard-form .exam-info ul li span input[type=date],
.admitCard-form .exam-info ul li span input[type=time],
.admitCard-form .exam-info ul li span input[type=text] {
    width: 100%;
    padding: 5px;
    border: 0;
    background: #f1f1f1;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~  view application  */

.view-application {
    float: left;
    width: 100%;
}

.view-application h2 {
    font-size: 24px;
    font-family: 'avenir-lt-std-medium';
    margin-bottom: 30px;
}

.view-application .field-group {
    float: left;
    width: 100%;
    margin-bottom: 30px;
    padding: 30px;
    background: #fff;
}

.view-application .field-group h3 {
    font-size: 20px;
    line-height: 28px;
    font-family: 'avenir-lt-std-medium';
    margin-bottom: 30px;
}

.view-application .field-group .field-info {
    float: left;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    background: #f7f7f7;
}

.view-application .field-group .no-field-bg {
    margin-bottom: 0;
    padding: 15px 15px 5px 0;
    background: none;
}

.view-application .field-group .field-info label {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-family: 'avenir-lt-std-medium';
}

.view-application .field-group .no-field-bg label {
    font-size: 16px;
}

.view-application .field-group .field-info span {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  final confirmation  */

.final_confirmation {
    font-size: 14px;
    line-height: 20px;
}

.final_confirmation h2 {
    font-size: 24px;
    line-height: 30px;
    font-family: 'avenir-lt-std-medium';
    margin: 0 0 30px;
}

.final_confirmation label {
    display: block;
}

.final_confirmation label input {
    float: left;
    width: auto;
    height: auto;
    margin: 3px 7px 0 0;
}

.final_confirmation .btn {
    margin: 30px 0 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~  user-list  */

.users-list {
    margin: 10px 0 0;
}

.users-list .card {
    margin-bottom: 10px;
    border: 0;
    border-radius: 0;
    background: #fff;
}

.users-list .card .card-header {
    padding: 0;
    border: 0;
    border-radius: 0;
    background: #fff;
}

.users-list .card .card-header .btn {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    font-family: 'avenir-lt-std-medium';
    color: #fff;
    padding: 15px;
    position: relative;
    border-radius: 0;
    text-align: left;
    background: #2B5191;
}

.users-list .card .card-header .btn:after {
    content: '';
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-right: 4px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 4px solid transparent;
    transition: all 0.3s linear 0s;
}

.users-list .card .card-header .btn.collapsed:after {
    border-top: 6px solid #fff;
    border-bottom: 0;
}

.users-list .card .card-header .btn[area-expanded=false],
.users-list .card .card-header .btn[area-expanded=true],
.users-list .card .card-header .btn:focus,
.users-list .card .card-header .btn:hover {
    text-decoration: none;
}

.user-info-title {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 30px;
    text-transform: capitalize;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  final success message  */

.final_success_msg {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    background: #fff;
}

.final_success_msg figure {
    width: 250px;
    height: 170px;
    margin: 0 auto;
    background: url(../images/icons/icon-success.gif) no-repeat 0 0/90%;
}

.final_success_msg h2 {
    font-size: 20px;
    line-height: 30px;
    font-family: 'avenir-lt-std-medium';
    text-align: center;
}

.final_success_msg .btn {
    display: block;
    width: 200px;
    margin: 30px auto 0;
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~  media queries  */

@media (max-width: 1440px) {
    .dashboard-right .navbar-nav li .dropdown-menu {
        right: 0;
        left: auto;
    }
}

@media (max-width: 991px) {
    .dashboard-left {
        width: 190px;
        left: -190px;
    }
    .dashboard-left.open {
        position: absolute;
        left: 0;
        z-index: 2
    }
    .icon-close {
        display: block;
    }
    .dashboard-left .sidenav ul li:last-child {
        display: block;
    }
    .dashboard-right,
    .dashboard-right.shrink {
        width: 100%;
        z-index: 1;
    }
    .dashboard-right .navbar {
        padding: 8px 30px;
    }
    .dashboard-right .navbar .container {
        display: block;
        max-width: 100%;
        padding: 0;
    }
    .dashboard-right .navbar-nav {
        display: none;
    }
    .dashboard-right .navbar .icon-menu {
        display: block;
    }
    .content {
        padding: 30px;
    }
    .profile-left {
        width: 250px;
        height: 250px;
    }
    .profile-right {
        width: calc(100% - 300px);
    }
}

@media (max-width: 767px) {
    .student-register .welcome-header,
    .admin-login .welcome-header {
        padding: 15px 30px;
    }
    .student-register .welcome-box-title,
    .admin-login .welcome-box-title {
        font-size: 23px;
        line-height: 31px;
    }
    .profile-left {
        width: 200px;
        height: 200px;
    }
    .profile-right {
        width: calc(100% - 230px);
        padding: 30px;
    }
    .registration-form #progressbar li span {
        display: none;
    }
    .registration-form #msform fieldset,
    .final_confirmation {
        width: 100%;
        margin: 0;
        padding: 30px;
    }
}

@media (max-width: 640px) {
    .student-register .welcome-header,
    .admin-login .welcome-header {
        display: block;
    }
    .student-register .welcome-header .logo,
    .admin-login .welcome-header .logo {
        margin-right: 0;
    }
    .student-register .welcome-box-title,
    .admin-login .welcome-box-title {
        margin: 10px 0 5px;
    }
    .login-register-box .tab-content .form-register .form-group {
        width: 100%;
        margin: 10px 0;
    }
    .login-register-box .tab-content .tab-pane {
        height: 250px;
        overflow: auto;
    }
    .reset-box {
        margin-top: 70px;
    }
    .dashboard-right .navbar {
        padding: 8px 15px;
    }
    .content {
        padding: 30px 15px;
    }
    .profile-right {
        width: calc(100% - 215px);
    }
    .info-list li label {
        width: 100%;
    }
    .info-list li a {
        float: left;
        margin-top: 10px;
    }
    .registration-form #msform fieldset .form-group {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .welcome-content {
        padding: 0 30px;
    }
    .welcome-content h1 {
        font-size: 28px;
        line-height: 34px;
    }
    .profile-left {
        width: 100%;
        height: 220px;
    }
    .profile-left img {
        width: 200px;
    }
    .profile-right {
        width: 100%;
        margin-top: 15px;
    }
    .registration-form #progressbar {
        margin-bottom: 30px;
    }
    .registration-form #progressbar:before {
        top: 28px;
    }
    .registration-form #progressbar li:before {
        width: 50px;
        height: 50px;
        font-size: 16px;
        line-height: 40px;
    }
}

@media (max-width: 420px) {
    .login-register-box .tab-content .form-group.field-checkbox .form-check {
        width: 100%;
    }
    .login-register-box .tab-content .form-group.field-checkbox .forgot-link {
        float: none;
    }
}
