<template>
  <div>
    <p><span class="message">{{ message.message }}</span>
    <span class="name"> <small> {{ message.user.name }}</small> </span> </p>
  </div>
</template>

<script>
  export default{
    // props is to accept properties [what property you want to accept]
    props: ['message']
  }
</script>

<style lang="css">
.chat-message {
  padding: 1rem;
}
.chat-message > p {
  margin-bottom: .5rem;
}
.name {
  float: right;
}
p :not(span){
  border-radius: 25%;
  border: .5px solid #6cb2eb;
  background-color: #6c757d;
}
</style>
