<template>
  <div class="chat-composer">
    <input type="text" placeholder="Start typing your message.." v-model="messageText" @keyup.enter="sendMessage">
    <button type="button" class="btn btn-primary" name="button" @click="sendMessage" >Send</button>
  </div>
</template>

<script>
  export default{
    data(){
      return {
        messageText: ''
      }
    },
    methods: {
      sendMessage(){
        this.$emit('messagesent',{
          message: this.messageText,
          user: {
            name: $('.navbar-light .navbar-nav .nav-link').text()
          }
        });
        this.messageText = '';
      }
    }
  }
</script>

<style lang="css">
.chat-composer {
  display: flex;
}

.chat-composer input {
flex: 1
}

</style>
