<template>
  <select class="form-control" :required="true" @change="onChange($event)">
   <!-- <option :selected="true">Choose Province</option> -->
   <option v-for="option in onlineUser" v-bind:value="option.id" >{{ option.name }}</option>
  </select>
</template>
<script>
  export default{
    data () {
      return {
        onlineUser: "",
        messages_user: ""
      }
    },
    props: ['onlineUsers'],
    methods: {
      online_students(){
        axios.get('/users').then(response => {
          // console.log(response);
          this.onlineUser = response.data ;
        });
      },
      onChange(event){
        axios.get('/messages/'+event.target.value).then(response => {
          // console.log(response);
          this.messages_user = response.data ;
        });
        this.$root.$emit('user_message', this.messages_user);
        console.log(event.target.value);
      }
    },
    mounted(){
      this.online_students();
    }
  }
</script>
<style lang="css">

</style>
